USE [master]
GO
/****** Object:  Database [DHCD]    Script Date: 5/1/2025 6:12:36 AM ******/
CREATE DATABASE [DHCD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DHCD2015VIG', FILENAME = N'D:\SqlData\Data\DHCD.mdf' , SIZE = 124992KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DHCD2015VIG_log', FILENAME = N'D:\SqlData\Data\DHCD.ldf' , SIZE = 38208KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DHCD].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [DHCD]
GO
/****** Object:  User [dhcd]    Script Date: 5/1/2025 6:12:36 AM ******/
CREATE USER [dhcd] FOR LOGIN [dhcd] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [dhcd]
GO
/****** Object:  StoredProcedure [dbo].[Authorizations_Delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create 
Create PROCEDURE [dbo].[Authorizations_Delete]
@Meetingcode varchar(10),
@Holdercode varchar(50),
@DelegateCode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

	Delete from Authorizations
		where
		Meetingcode = @Meetingcode
		And DelegateCode = @DelegateCode
		and Holdercode = @Holdercode
	
end











GO
/****** Object:  StoredProcedure [dbo].[Authorizations_getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Authorizations_getlist]
	@Meetingcode varchar(10),
	@Holdercode  varchar(50),
	@HolderIdentity varchar(50),
	@DelegateCode int,
	@IdentityCard varchar(50)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

select 
	a.Delegatecode,
	b.delegatename,
	b.IdentityCard,
	a.holdercode,
	c.holdername,
	c.HolderIdentity,
	c.voterights,
	a.Delegateright
	
From
	Authorizations a,
	Delegates b,
	Holders c
Where

	(b.Delegatecode= a.Delegatecode)
and (b.meetingcode = a.meetingcode)	
and (c.meetingcode = a.meetingcode)
and (c.holdercode = a.holdercode)
and (a.Meetingcode = @Meetingcode)
and	(@Holdercode = '' or a.Holdercode like '%'+@Holdercode)
and (@HolderIdentity = '' or c.HolderIdentity like '%'+ @HolderIdentity)
and	(@Delegatecode = '' or a.Delegatecode = @Delegatecode)
and (@IdentityCard = '' or b.IdentityCard like '%'+ @IdentityCard)

end











GO
/****** Object:  StoredProcedure [dbo].[Authorizations_Insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Authorizations_Insert]
@Meetingcode varchar(10),
@Holdercode varchar(50),
@DelegateCode int,
@DelegateRight int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
-- Kiem tra khong de uy quyen lon hon so quyen bieu quyet
declare @voteright int;
set @voteright = isnull((select voterights from holders where meetingcode = @meetingcode and holdercode = @holdercode),0);
declare @delegatedRight int;
set @delegatedRight = isnull((select sum(DelegateRight) from Authorizations where meetingcode =  @meetingcode and holdercode = @holdercode),0);

--if @delegatedRight + @DelegateRight > @voteright 
--begin
--	Raiserror('Khong duoc uy quyen qua so quyen bieu quyet cua co dong',15,1)
--	return
--end

if Exists(Select * From Authorizations WHERE MeetingCode = @MeetingCode AND HolderCode = @HolderCode And DelegateCode = @DelegateCode)
Begin
	Raiserror('Thao tac quy quyen da thuc hien',15,1)
	return
end

insert into Authorizations
	(Meetingcode,
	Holdercode,
	DelegateCode,
	DelegateRight
	)
values
	(@Meetingcode,
	@Holdercode,
	@DelegateCode,
	@DelegateRight
	)
end









GO
/****** Object:  StoredProcedure [dbo].[Authorizations_update]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Authorizations_update]
@Meetingcode varchar(10),
@Holdercode varchar(50),
@DelegateCode int,
@DelegateRight int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

-- Kiem tra khong de uy quyen lon hon so quyen bieu quyet
declare @voteright int;
set @voteright = isnull((select voterights from holders where meetingcode = @meetingcode and holdercode = @holdercode),0);
declare @delegatedRight int;
set @delegatedRight = isnull((select sum(DelegateRight) from Authorizations where meetingcode =  @meetingcode and holdercode = @holdercode and DelegateCode <> @DelegateCode),0);

if @delegatedRight + @DelegateRight > @voteright 
begin
	Raiserror('Khong duoc uy quyen qua so quyen bieu quyet cua co dong',15,1)
	return
end
-----------------------------------------------

	update Authorizations set
	DelegateRight = @DelegateRight
	where
	(Meetingcode = @Meetingcode)
	and (Holdercode = @Holdercode)
	and (DelegateCode = @DelegateCode)
	end












GO
/****** Object:  StoredProcedure [dbo].[Candidates_Delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- 05/10/2009: LUANTX Create 
create PROCEDURE [dbo].[Candidates_Delete]
@Meetingcode varchar(10),
@electioncode int,
@candidateCode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

	Delete from Candidates
		where
		Meetingcode = @Meetingcode
		And electioncode = @electioncode
		and candidateCode = @candidateCode
	
end












GO
/****** Object:  StoredProcedure [dbo].[Candidates_Getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Candidates_Getlist]
@Meetingcode varchar(10),
@electioncode int = 0,
@Candidatecode int = 0
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
	select
	a.electioncode,
	isnull((select electionname from elections b where b.meetingcode = @meetingcode and b.electioncode = a.electioncode),'') as electionname,
	a.candidateCode,
	a.CandidateName,
	a.CandidateAddress
	from Candidates a
		where
		(a.Meetingcode = @Meetingcode)
		And (@electioncode = 0  or (a.electioncode = @electioncode))
		and (@Candidatecode = 0 or (Candidatecode=@Candidatecode))
		
			
end















GO
/****** Object:  StoredProcedure [dbo].[Candidates_Getlist_4voteupdate]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Candidates_Getlist_4voteupdate]
@Meetingcode varchar(10),
@electioncode int = 0,
@Candidatecode int = 0,
@delegatecode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
	select
	--a.electioncode,
	--isnull((select electionname from elections b where b.meetingcode = @meetingcode and b.electioncode = a.electioncode),'') as electionname,
	a.candidateCode,
	a.CandidateName,
	isnull((select convert(bit,1) from electionvotes c where c.meetingcode = @meetingcode and c.electioncode = @electioncode and c.candidatecode = a.candidatecode and c.delegatecode = @delegatecode),convert(bit,0)) as choosen,
		isnull((select votes from electionvotes c where c.meetingcode = @meetingcode and c.electioncode = @electioncode and c.candidatecode = a.candidatecode and c.delegatecode = @delegatecode),0) as votes
	--a.CandidateAddress
	from Candidates a
		where
		(a.Meetingcode = @Meetingcode)
		And (@electioncode = 0  or (a.electioncode = @electioncode))
		and (@Candidatecode = 0 or (Candidatecode=@Candidatecode))
		
			
end
















GO
/****** Object:  StoredProcedure [dbo].[Candidates_insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- 05/10/2009: LUANTX Create 
create PROCEDURE [dbo].[Candidates_insert]
@Meetingcode varchar(10),
@electioncode int,
@candidateCode int,
@CandidateName nvarchar(100),
@CandidateAddress nvarchar(200)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

insert into Candidates
(Meetingcode,
electioncode,
candidateCode,
CandidateName,
CandidateAddress
)
values
(@Meetingcode,
@electioncode,
@candidateCode,
@CandidateName,
@CandidateAddress
)
end












GO
/****** Object:  StoredProcedure [dbo].[Candidates_update]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Candidates_update]
@Meetingcode varchar(10),
@electioncode int,
@candidateCode int,
@CandidateName nvarchar(100),
@CandidateAddress nvarchar(200)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

update Candidates set
CandidateName = @CandidateName,
CandidateAddress = @CandidateAddress
where 
(@Meetingcode= @Meetingcode)
and (electioncode = @electioncode)
and (candidateCode = @candidateCode)

end













GO
/****** Object:  StoredProcedure [dbo].[Delegates_Delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Delegates_Delete]
@Meetingcode varchar(10),
@DelegateCode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

	Delete from Delegates
		where
		Meetingcode = @Meetingcode
		And DelegateCode = @DelegateCode
	
	Delete from Authorizations
		where
		Meetingcode = @Meetingcode
		And DelegateCode = @DelegateCode
end











GO
/****** Object:  StoredProcedure [dbo].[Delegates_getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Delegates_getlist]
	@Meetingcode varchar(10),
	@Delegatecode int,
	@IdentityCard varchar(50),
	@Delegatename nvarchar(100)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

select 
	Delegatecode,
	Delegatename,
	IdentityCard,
	DelegateAddress,
	isnull((select sum(DelegateRight) from Authorizations b where Meetingcode = @Meetingcode and b.Delegatecode = a.Delegatecode),0) as voterights
From
	Delegates a
Where
	(Meetingcode = @Meetingcode)
and	(@Delegatecode = 0 or Delegatecode = @Delegatecode)
and (@IdentityCard = '' or IdentityCard like '%'+ @IdentityCard)
and (@Delegatename = '' or Delegatename like '%'+ @Delegatename)
end












GO
/****** Object:  StoredProcedure [dbo].[Delegates_insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Delegates_insert]
	@Meetingcode varchar(10),
	@delegatecode int Output,
	@Delegatename	nvarchar(100),
	@IdentityCard varchar(50),
	@DelegateAddress nvarchar(200)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

if exists (select 1 from delegates where meetingcode = @meetingcode and IdentityCard = @IdentityCard) 
	begin
		Raiserror('Dai bieu co so CMT/HC/GPKD nay da tont ai trong he thong, vui vong kiem tra lai',15,1)
	return
	end

set @delegatecode = isnull((select max(delegatecode) from delegates where meetingcode = @meetingcode),0)
set @delegatecode = @delegatecode + 1
insert into Delegates
	(Meetingcode,
	delegatecode,
	Delegatename,
	IdentityCard,
	DelegateAddress)
values
	(@Meetingcode,
	@delegatecode,
	@Delegatename,
	@IdentityCard,
	@DelegateAddress)
end
















GO
/****** Object:  StoredProcedure [dbo].[Delegates_update]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Delegates_update]
	@Meetingcode varchar(10),
	@delegatecode int,
	@Delegatename	nvarchar(100),
	@IdentityCard varchar(50),
	@DelegateAddress nvarchar(200)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

--if exists (select 1 from delegates where meetingcode = @meetingcode and IdentityCard = @IdentityCard and Delegatename = @Delegatename) 
--	begin
--		Raiserror('Dai bieu co so CMT/HC nay da tont ai trong he thong, vui vong kiem tra lai',15,1)
--	return
--	end


update Delegates set
	Delegatename = @Delegatename,
	IdentityCard = @IdentityCard,
	DelegateAddress = @DelegateAddress
Where
	(@Meetingcode = @Meetingcode)
	and (delegatecode = @delegatecode)
end















GO
/****** Object:  StoredProcedure [dbo].[elections_delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[elections_delete]
	@Meetingcode varchar(10),
	@electioncode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

delete from elections
where
	Meetingcode = @Meetingcode
	and electioncode = @electioncode
end

delete from candidates where Meetingcode = @Meetingcode
	and electioncode = @electioncode
delete from electionvotes where Meetingcode = @Meetingcode
	and electioncode = @electioncode





GO
/****** Object:  StoredProcedure [dbo].[elections_getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[elections_getlist]
	@Meetingcode varchar(10),
	@electioncode int = 0
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
select 
	a.electioncode,
	a.electionName,
	a.electiondescription,
	isnull((select count(*) from candidates b where b.meetingcode = @meetingcode and b.electioncode = a.electioncode),0) as numofregisted,
	a.numofcandidates
From
	elections a
Where
	(a.Meetingcode = @Meetingcode)
	and (@electioncode = 0  or (a.electioncode=@electioncode))
end





GO
/****** Object:  StoredProcedure [dbo].[elections_insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 05/10/2009: LUANTX Create, 
create PROCEDURE [dbo].[elections_insert]
	@Meetingcode varchar(10),
	@electioncode int,
	@electionName	nvarchar(100),
	@electionDescription nvarchar(500),
	@numofcandidates int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

insert into elections
	(Meetingcode,
	electioncode,
	electionName,
	electionDescription,
	numofcandidates)
values
	(@Meetingcode,
	@electioncode,
	@electionName,
	@electionDescription,
	@numofcandidates)
end












GO
/****** Object:  StoredProcedure [dbo].[elections_update]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- 05/10/2009: LUANTX Create, 
create PROCEDURE [dbo].[elections_update]
	@Meetingcode varchar(10),
	@electioncode int,
	@electionName	nvarchar(100),
	@electionDescription nvarchar(500),
	@numofcandidates int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

update elections set
	electionName = @electionName,
	electionDescription = @electionDescription,
	numofcandidates = @numofcandidates
where
	Meetingcode = @Meetingcode
	and electioncode = @electioncode
end




GO
/****** Object:  StoredProcedure [dbo].[elections_VoteInfor_get]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[elections_VoteInfor_get]
	@Meetingcode varchar(10),
	@electioncode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

declare @numberoflegalVote int;
declare @numberofIllegalVote int;
declare @LegalVoteRight int;
declare @IllegalVoteRight int;
declare @SummeetingVoteRight int;
set @numberoflegalVote = isnull((select count(distinct delegatecode) from electionvotes where Meetingcode = @Meetingcode and electioncode = @electioncode),0)
set @numberofIllegalVote = isnull((select count(delegatecode) from Illegalelectionvotes where Meetingcode = @Meetingcode and electioncode = @electioncode),0)
set @LegalVoteRight = isnull((select sum(DelegateRight) from Authorizations where Meetingcode = @Meetingcode and delegatecode in (select distinct delegatecode from electionVotes where Meetingcode = @Meetingcode and electioncode = @electioncode)),0)
set @IlLegalVoteRight = isnull((select sum(DelegateRight) from Authorizations where Meetingcode = @Meetingcode and delegatecode in (select distinct delegatecode from IllegalelectionVotes where Meetingcode = @Meetingcode and electioncode = @electioncode)),0)
set @SummeetingVoteRight = isnull((select sum(DelegateRight) from Authorizations where Meetingcode = @Meetingcode),0)

select	@numberoflegalVote as numberoflegalVote,
		@numberofIllegalVote as numberofIllegalVote,
		@LegalVoteRight as LegalVoteRights,
		@IllegalVoteRight as IllegalVoteRights,
		@SummeetingVoteRight as SummeetingVoteRight
end






GO
/****** Object:  StoredProcedure [dbo].[Electionvotes_Delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 05/10/2009: LUANTX Create 
create PROCEDURE [dbo].[Electionvotes_Delete]
@Meetingcode varchar(10),
@electioncode int,
@candidateCode int,
@delegatecode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
	Delete from Electionvotes
		where
		Meetingcode = @Meetingcode
		And electioncode = @electioncode
		and candidateCode = @candidateCode
		and delegatecode = @delegatecode
	
end













GO
/****** Object:  StoredProcedure [dbo].[Electionvotes_Delete_all]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create 
create PROCEDURE [dbo].[Electionvotes_Delete_all]
@Meetingcode varchar(10),
@electioncode int,
@candidateCode int,
@delegatecode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
	Delete from Electionvotes
		where
		Meetingcode = @Meetingcode
		And electioncode = @electioncode
		--and candidateCode = @candidateCode
		and delegatecode = @delegatecode
	
end














GO
/****** Object:  StoredProcedure [dbo].[Electionvotes_Getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Electionvotes_Getlist]
@Meetingcode varchar(10),
@electioncode int,
@candidateCode int,
@delegatecode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
select 
a.electioncode,
isnull((select electionname from elections b where b.meetingcode = @meetingcode and b.electioncode = a.electioncode),'') as electionname,
a.candidateCode,
isnull((select candidatename from candidates c where c.meetingcode = @meetingcode and c.electioncode = a.electioncode and c.candidatecode = a.candidatecode),'') as candidatename,
a.delegatecode,
isnull((select delegatename from delegates d where d.meetingcode = @meetingcode and d.delegatecode = a.delegatecode),'') as delegatename,
a.Votes
from Electionvotes a
where
(a.Meetingcode = @Meetingcode)
and (@electioncode = 0 or (a.electioncode = @electioncode))
and (@candidateCode = 0 or (a.candidateCode = @candidateCode))
and (@delegatecode = 0 or (a.delegatecode = @delegatecode))
order by a.delegatecode,a.candidatecode
end
















GO
/****** Object:  StoredProcedure [dbo].[Electionvotes_Getresult]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--select * from electionvotes
-- select sum(votes) from Electionvotes where meetingcode = '222'

-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Electionvotes_Getresult]
@Meetingcode varchar(10),
@electioncode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

declare @totalvotes as decimal
set @totalvotes = isnull((select sum(votes) from Electionvotes where meetingcode = @meetingcode and electioncode = @electioncode),0)
declare @sumofparticipedVoterights as decimal 
set @sumofparticipedVoterights = (select convert(decimal, sum(delegateright)) from authorizations where meetingcode = @meetingcode)

select
a.candidatecode,
(select candidatename from candidates b where b.meetingcode = @meetingcode and b.electioncode = @electioncode and b.candidatecode = a.candidatecode) as candidatename,
sum(a.votes) sumvotes,
convert(decimal, sum(a.votes))*100/@sumofparticipedVoterights as percentvote,
@totalvotes as totalvotes
from Electionvotes a
where
a.meetingcode = @meetingcode and a.electioncode = @electioncode
group by 
a.candidatecode
order by sum(a.votes) desc
end









GO
/****** Object:  StoredProcedure [dbo].[Electionvotes_Insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Electionvotes_Insert]
@Meetingcode varchar(10),
@electioncode int,
@candidateCode int,
@delegatecode int,
@Votes int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

-- Kiem tra xem da o trong bang Electionvotes va IllegalElectionvotes chua;
if exists (select 1 from Electionvotes where Meetingcode=@Meetingcode and electioncode=@electioncode and delegatecode=@delegatecode and candidatecode =@candidatecode)
begin
	Raiserror('Phieu bau nay da nhap Hop le',15,1)
	return
end

if exists (select 1 from IllegalElectionvotes where Meetingcode=@Meetingcode and electioncode=@electioncode and delegatecode=@delegatecode)
begin
	Raiserror('Phieu bau nay da nhap KHONG hop le',15,1)
	return
end

--- kiem tra de tranh dai bieu bau vuot qua so quyen
declare @voted int;
set @voted = isnull((select sum(Votes) from Electionvotes where Meetingcode = @Meetingcode and electioncode = @electioncode and delegatecode = @delegatecode and candidateCode <> @candidateCode),0)
declare @numberofchoosencandidate int;
set @numberofchoosencandidate = isnull((select numofcandidates from elections where Meetingcode = @Meetingcode and electioncode = @electioncode ),0)
declare @voterights int;
set @voterights = isnull((select sum(DelegateRight) from Authorizations b where Meetingcode = @Meetingcode and Delegatecode = @Delegatecode),0)
if @voted + @Votes >@voterights*@numberofchoosencandidate
	begin
		Raiserror('Loi bau qua so quyen quy dinh',15,1)
		return
	end


Insert into Electionvotes
(Meetingcode,
electioncode,
candidateCode,
delegatecode,
Votes)
Values
(@Meetingcode,
@electioncode,
@candidateCode,
@delegatecode,
@Votes)
end

















GO
/****** Object:  StoredProcedure [dbo].[Electionvotes_Update]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Electionvotes_Update]
@Meetingcode varchar(10),
@electioncode int,
@candidateCode int,
@delegatecode int,
@Votes int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
--- kiem tra de tranh dai bieu bau cuot qua so quyen
declare @voted int;
set @voted = isnull((select sum(Votes) from Electionvotes where Meetingcode = @Meetingcode and electioncode = @electioncode and delegatecode = @delegatecode and candidateCode <> @candidateCode),0)
declare @numberofchoosencandidate int;
set @numberofchoosencandidate = isnull((select numofcandidates from elections where Meetingcode = @Meetingcode and electioncode = @electioncode ),0)
declare @voterights int;
set @voterights = isnull((select sum(DelegateRight) from Authorizations b where Meetingcode = @Meetingcode and Delegatecode = @Delegatecode),0)
if @voted + @Votes >@voterights*@numberofchoosencandidate
	begin
		Raiserror('Loi bau qua so quyen quy dinh',15,1)
		return
	end


update Electionvotes set
Votes = @votes
where
(Meetingcode=@Meetingcode)
and (electioncode = @electioncode)
and (candidateCode = @candidateCode)
and (delegatecode =@delegatecode)
end




GO
/****** Object:  StoredProcedure [dbo].[Holder_update_remove_duplicate_Identity]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  Create PROCEDURE [dbo].[Holder_update_remove_duplicate_Identity]
  as
  begin
  
SET NOCOUNT ON
;WITH t2 AS
(
  SELECT HolderIdentity, TotalShares = SUM(Shares)
    FROM Holders
	where HolderIdentity in (
		SELECT HolderIdentity--, COUNT(*)
		FROM Holders
		GROUP BY HolderIdentity
		having count(*)>1
	)
    GROUP BY HolderIdentity
)
UPDATE t3 
  SET t3.Shares = t2.TotalShares, t3.VoteRights = t2.TotalShares
  FROM Holders AS t3
  INNER JOIN t2
  ON t3.HolderIdentity = t2.HolderIdentity;



 ; WITH cte AS (
  SELECT *, 
     row_number() OVER(PARTITION BY HolderIdentity ORDER BY HolderIdentity, CONVERT(datetime, IdentityDate,103)  desc) AS [rn]
  FROM Holders
) 
DELETE cte WHERE [rn] > 1
 
 
 SELECT HolderIdentity, COUNT(*) as RowsCount
		FROM Holders
		GROUP BY HolderIdentity
		having count(*)>1
end

GO
/****** Object:  StoredProcedure [dbo].[Holders_Delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Holders_Delete]
@Meetingcode varchar(10),
@HolderCode Varchar(50)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

	Delete from Holders
		where
		Meetingcode = @Meetingcode
		And HolderCode = @HolderCode

delete from authorizations 
where
		Meetingcode = @Meetingcode
		And HolderCode = @HolderCode
end










GO
/****** Object:  StoredProcedure [dbo].[Holders_getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Holders_getlist]
	@Meetingcode varchar(10),
	@Holdercode varchar(50),
	@HolderIdentity  varchar(50)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

select 
	Holdercode,
	HolderName,
	HolderAddress,
	HolderIdentity, IdentityDate,
	Shares,
	VoteRights,      
           Phone
           ,email
           ,nationality
           ,NotVSD,
	(VoteRights - isnull((select sum(DelegateRight) from Authorizations where meetingcode =  @Meetingcode and holdercode = Holders.Holdercode),0)) as VoteRemains
From
	Holders
Where
	(Meetingcode = @Meetingcode)
and	(@Holdercode = '' or Holdercode =  @Holdercode)
and (@HolderIdentity = '' or HolderIdentity like '%'+ @HolderIdentity)
end





GO
/****** Object:  StoredProcedure [dbo].[Holders_getListLimited]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Holders_getListLimited]
	@Meetingcode varchar(10),
	@intFrom int,
	@intTo  int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

select 
    CAST(Holdercode AS INT) as Holdercode,
	Upper(HolderName) as HolderName,
	HolderAddress,
	HolderIdentity,
	Shares,
	str(VoteRights) as VoteRights,
	(VoteRights - isnull((select sum(DelegateRight) from Authorizations where meetingcode =  @Meetingcode and holdercode = Holders.Holdercode),0)) as VoteRemains
From
	Holders
Where
	(Meetingcode = @Meetingcode)
and	(Holdercode >= @intFrom)
and (Holdercode <= @intTo)
end



GO
/****** Object:  StoredProcedure [dbo].[Holders_insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Holders_insert]
	@Meetingcode varchar(20),
	@Holdercode varchar(50),
	@HolderName	nvarchar(512),
	@HolderAddress nvarchar(1024),
	@HolderIdentity varchar(50),
	@Shares BIGINT,
	@VoteRights  BIGINT
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

--- kiem tra

if exists (select 1 from Holders where meetingcode = @meetingcode and HolderIdentity = @HolderIdentity) 
	begin
		Raiserror('Co dong co so CMT/HC/GPKD nay da ton tai trong he thong, vui vong kiem tra lai',15,1)
	return
	end

insert into holders
	(Meetingcode,
	Holdercode,
	HolderName,
	HolderAddress,
	HolderIdentity,
	Shares,
	VoteRights)
values
	(@Meetingcode,
	@Holdercode,
	@HolderName,
	@HolderAddress,
	@HolderIdentity,
	@Shares,
	@VoteRights)
end













GO
/****** Object:  StoredProcedure [dbo].[Holders_update]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Holders_update]
	@Meetingcode varchar(10),
	@Holdercode varchar(50),
	@HolderName	nvarchar(100),
	@HolderAddress nvarchar(200),
	@HolderIdentity varchar(50),
	@Shares int,
	@VoteRights  int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

--if exists (select 1 from Holders where meetingcode = @meetingcode and HolderIdentity = @HolderIdentity) 
	--begin
	--	Raiserror('Co dong co so CMT/HC nay da ton tai trong he thong, vui vong kiem tra lai',15,1)
	-- return
	--end

update holders set
	HolderName = @HolderName,
	HolderAddress = @HolderAddress,
	HolderIdentity = @HolderIdentity,
	Shares = @Shares,
	VoteRights = @VoteRights
where
	(@Meetingcode = @Meetingcode)
	and (Holdercode= @Holdercode)
	
end













GO
/****** Object:  StoredProcedure [dbo].[IllegalElectionvotes_Delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[IllegalElectionvotes_Delete]
@Meetingcode varchar(10),
@electioncode int,
@delegatecode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
	Delete from IllegalElectionvotes
		where
		Meetingcode = @Meetingcode
		And electioncode = @electioncode
		and delegatecode = @delegatecode
	
end















GO
/****** Object:  StoredProcedure [dbo].[IllegalElectionvotes_Getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[IllegalElectionvotes_Getlist]
@Meetingcode varchar(10),
@electioncode int,
@delegatecode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
declare @numofchoosencandidates tinyint;
--set @numofchoosencandidates = isnull((select numofcandidates from elections where meetingcode = @meetingcode and (@electioncode = 0 or electioncode = @electioncode)),0)
select 
a.electioncode,
isnull((select electionname from elections b where b.meetingcode = @meetingcode and b.electioncode = a.electioncode),'') as electionname,
a.delegatecode,
isnull((select delegatename from delegates d where d.meetingcode = @meetingcode and d.delegatecode = a.delegatecode),'') as delegatename,
(isnull((select sum(DelegateRight) from Authorizations b where Meetingcode = @Meetingcode and b.Delegatecode = a.Delegatecode),0))*(select numofcandidates from elections e where meetingcode = @meetingcode and e.electioncode = a.electioncode) as votes
from IllegalElectionvotes a
where
(a.Meetingcode = @Meetingcode)
and (@electioncode = 0 or (a.electioncode = @electioncode))
and (@delegatecode = 0 or (a.delegatecode = @delegatecode))
order by a.delegatecode
end


















GO
/****** Object:  StoredProcedure [dbo].[IllegalElectionvotes_Insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[IllegalElectionvotes_Insert]
@Meetingcode varchar(10),
@electioncode int,
@delegatecode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

-- Kiem tra xem da o trong bang Electionvotes va IllegalElectionvotes chua;
if exists (select 1 from Electionvotes where Meetingcode=@Meetingcode and electioncode=@electioncode and delegatecode=@delegatecode)
begin
	Raiserror('Phieu bau nay da nhap Hop le',15,1)
	return
end

if exists (select 1 from IllegalElectionvotes where Meetingcode=@Meetingcode and electioncode=@electioncode and delegatecode=@delegatecode)
begin
	Raiserror('Phieu bau nay da nhap KHONG hop le',15,1)
	return
end

Insert into IllegalElectionvotes
(Meetingcode,
electioncode,
delegatecode)
Values
(@Meetingcode,
@electioncode,
@delegatecode)
end















GO
/****** Object:  StoredProcedure [dbo].[matters_delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create, 
create PROCEDURE [dbo].[matters_delete]
	@Meetingcode varchar(10),
	@mattercode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

delete from matters 
where
	Meetingcode = @Meetingcode
	and mattercode = @mattercode
end



GO
/****** Object:  StoredProcedure [dbo].[matters_getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[matters_getlist]
	@Meetingcode varchar(20),
	@mattercode int = 0
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

select 
	mattercode,
	matterName,
	Matterdescription
From
	matters
Where
	(Meetingcode = @Meetingcode)
and (@mattercode = 0 or (mattercode=@mattercode))
end











GO
/****** Object:  StoredProcedure [dbo].[matters_insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[matters_insert]
	@Meetingcode varchar(10),
	@mattercode int,
	@matterName	nvarchar(500),
	@MatterDescription nvarchar(MAX)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

insert into matters
	(Meetingcode,
	mattercode,
	matterName,
	MatterDescription)
values
	(@Meetingcode,
	@mattercode,
	@matterName,
	@MatterDescription)
end











GO
/****** Object:  StoredProcedure [dbo].[matters_update]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[matters_update]
	@Meetingcode varchar(10),
	@mattercode int,
	@matterName	nvarchar(500),
	@MatterDescription nvarchar(MAX)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

update matters set
	matterName = @matterName,
	MatterDescription = @MatterDescription
where
	Meetingcode = @Meetingcode
	and mattercode = @mattercode
end



GO
/****** Object:  StoredProcedure [dbo].[matters_VoteInfor_get]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[matters_VoteInfor_get]
	@Meetingcode varchar(10),
	@mattercode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
declare @mattername nvarchar(200);
declare @sumofdelegates int;
declare @enteredvotes int;
declare @agreedDelegates int;
declare @DisAgreedDelegates int;
declare @NoideadDelegates int;

set @mattername = (select mattername from matters where meetingcode = @meetingcode and mattercode = @mattercode)
set @sumofdelegates = (select count(*) from delegates where meetingcode = @meetingcode)
set @enteredvotes = (select count(*) from mattervotes where  meetingcode = @meetingcode and mattercode = @mattercode)
set @agreedDelegates = (select count(*) from mattervotes where  meetingcode = @meetingcode and mattercode = @mattercode and Agree = 1)
set @DisagreedDelegates = (select count(*) from mattervotes where  meetingcode = @meetingcode and mattercode = @mattercode and DisAgree = 1)
set @NoideadDelegates = (select count(*) from mattervotes where  meetingcode = @meetingcode and mattercode = @mattercode and Noidea = 1)

select	@mattername as mattername,
		@sumofdelegates as sumofdelegates,
		@enteredvotes as enteredvotes,
		@sumofdelegates - @enteredvotes as remainvotes,
		@agreedDelegates as agreedDelegates,
		@DisAgreedDelegates  as DisAgreedDelegates,
		@NoideadDelegates as NoideadDelegates
end




GO
/****** Object:  StoredProcedure [dbo].[Mattervotes_Delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 05/10/2009: LUANTX Create 
create PROCEDURE [dbo].[Mattervotes_Delete]
@Meetingcode varchar(10),
@Mattercode	int,
@DelegateCode int
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

	Delete from Mattervotes
		where
		Meetingcode = @Meetingcode
		And DelegateCode = @DelegateCode
		and Mattercode = @Mattercode
	
end












GO
/****** Object:  StoredProcedure [dbo].[Mattervotes_getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Mattervotes_getlist]
@Meetingcode varchar(10),
@Mattercode	int=0,
@DelegateCode int=0,
@holderIdentify varchar(50)=''
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
select
a.Mattercode,
(select Mattername from matters c where c.Meetingcode = @Meetingcode and c.Mattercode = a.Mattercode) as Mattername,
a.DelegateCode,
Delegatename as delegatename ,
isnull((select sum(DelegateRight) from Authorizations c where c.Meetingcode = @Meetingcode and c.Delegatecode = a.Delegatecode),0) as voterights,
a.Agree,
a.DisAgree,
a.Noidea,
Illegal,
IdentityCard as IdentityCard 
from Mattervotes a join delegates b on b.Meetingcode = @Meetingcode and b.delegatecode = a.delegatecode
where
(a.Meetingcode = @Meetingcode)
and (@Mattercode = 0 or(a.Mattercode = @Mattercode))
and (@DelegateCode = 0 or (a.DelegateCode= @DelegateCode)) 
and (@holderIdentify ='' or (b.IdentityCard= @holderIdentify))
end







GO
/****** Object:  StoredProcedure [dbo].[Mattervotes_Insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Mattervotes_Insert]
@Meetingcode varchar(10),
@Mattercode	int,
@DelegateCode int,
@Agree	bit,
@Disagree bit,
@NoIdea bit,
@Illegal bit =0
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
if exists (select 1 from Mattervotes where Meetingcode=@Meetingcode and Mattercode = @Mattercode and DelegateCode = @DelegateCode)
begin
	Raiserror('Phieu nay da duoc nhap',15,1)
	return
end

Insert into Mattervotes
(Meetingcode,
Mattercode,
DelegateCode,
Agree,
Disagree,
NoIdea,
Illegal
)
values
(@Meetingcode,
@Mattercode,
@DelegateCode,
@Agree,
@Disagree,
@NoIdea,
@Illegal
)
	
end













GO
/****** Object:  StoredProcedure [dbo].[Mattervotes_Insert_remain]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Mattervotes_Insert_remain]
@Meetingcode varchar(10),
@Mattercode	int,
@Agree	bit,
@Disagree bit,
@NoIdea bit, 
@Illegal bit = 0
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

Insert into Mattervotes
(Meetingcode,
Mattercode,
DelegateCode,
Agree,
Disagree,
NoIdea,
Illegal
)
select
@Meetingcode,
@Mattercode,
DelegateCode,
@Agree,
@Disagree,
@NoIdea,
@Illegal
from delegates
where
meetingcode = @meetingcode
and delegatecode not in (select delegatecode from mattervotes where meetingcode = @meetingcode and mattercode = @mattercode)
	
end



GO
/****** Object:  StoredProcedure [dbo].[Mattervotes_update]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Mattervotes_update]
@Meetingcode varchar(10),
@Mattercode	int,
@DelegateCode int,
@Agree	bit,
@Disagree bit,
@NoIdea bit,
@Illegal bit = 0
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
update Mattervotes set
Agree = @Agree,
Disagree = @Disagree,
NoIdea = @NoIdea,
Illegal = @Illegal
where
(Meetingcode = @Meetingcode)
and (Mattercode = @Mattercode)
and (DelegateCode= @DelegateCode)
	
end












GO
/****** Object:  StoredProcedure [dbo].[Meetings_Delete]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create 
CREATE PROCEDURE [dbo].[Meetings_Delete]
@Meetingcode varchar(10)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

	Delete from Meetings
		where
		Meetingcode = @Meetingcode

end








GO
/****** Object:  StoredProcedure [dbo].[Meetings_getlist]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Meetings_getlist]
	@Meetingcode varchar(10)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

select 
	Meetingcode,
	Meetingname,
	CompanyName,
	CompanyAddress,
	Meetingaddress,
	convert(varchar,meetingtime,103) as meetingtime,
	[Period],
	ISNULL(MettingType,N'Thường Niên') as MettingType,
	YearMeeting,
	StockCode
From
	Meetings
Where
	Meetingcode like '%' + @Meetingcode + '%'
end











GO
/****** Object:  StoredProcedure [dbo].[Meetings_insert]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Meetings_insert]
	@Meetingcode varchar(10),
	@MeetingName nvarchar(200),
	@CompanyName nvarchar(200),
	@companyAddress nvarchar(200),
	@MeetingAddress nvarchar(200),
	@Meetingtime smalldatetime,
	@Period nvarchar(250),
	@MettingType nvarchar(150),
	@YearMeeting varchar(4),
	@StockCode varchar(4)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

insert into Meetings
	(Meetingcode,
	MeetingName,
	CompanyName,
	CompanyAddress,
	Meetingaddress,
	meetingtime,
	[Period],
	MettingType,
	YearMeeting,
	StockCode)
values
	(@Meetingcode,
	@MeetingName,
	@CompanyName,
	@CompanyAddress,
	@Meetingaddress,
	@Meetingtime,
	@Period,
	@MettingType,
	@YearMeeting,
	UPPER(@StockCode))
end










GO
/****** Object:  StoredProcedure [dbo].[Meetings_update]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Meetings_update]
	@Meetingcode varchar(10),
	@MeetingName nvarchar(200),
	@CompanyName nvarchar(200),
	@companyAddress nvarchar(200),
	@MeetingAddress nvarchar(200),
	@Meetingtime smalldatetime,
	@Period nvarchar(250) ,
	@MettingType nvarchar(150),
	@YearMeeting varchar(4), 
	@StockCode varchar(4)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON

update Meetings
set
	MeetingName=@MeetingName,
	CompanyName =@CompanyName,
	CompanyAddress =@CompanyAddress,
	Meetingaddress = @Meetingaddress,
	meetingtime = @meetingtime,
	[Period] = @Period,
	MettingType = @MettingType,
	YearMeeting=@YearMeeting,
	StockCode=UPPER(@StockCode)

where
	@Meetingcode = Meetingcode
end










GO
/****** Object:  StoredProcedure [dbo].[Meetings_VoteInfor_get]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 05/10/2009: LUANTX Create, 
CREATE PROCEDURE [dbo].[Meetings_VoteInfor_get]
	@Meetingcode varchar(10)
	--WITH ENCRYPTION
AS
begin
SET NOCOUNT ON
declare @companyname nvarchar(200);
declare @meetingname nvarchar(200);
declare @sumofholders int;
declare @sumofshares int;
declare @sumofvoterights int;

declare @numofdelegates int;
declare @numofholderparticipated int;
declare @numofholderAuthorised int;

declare @sumofholderAndAuthorizatedUser int;
declare @sumofparticipedVoterights int;
set @companyname = (select companyname from meetings where meetingcode = @meetingcode)
set @meetingname = (select meetingname from meetings where meetingcode = @meetingcode)
set @sumofholders = (select count(*) from holders where meetingcode = @meetingcode)
set @sumofshares = (select sum(shares+ notvsd) from holders where meetingcode = @meetingcode)
set @sumofvoterights = (select sum(voterights) from holders where meetingcode = @meetingcode)

set @numofdelegates = (select count(*) from Delegates where meetingcode = @meetingcode)
set @numofholderparticipated = (select count(*) from holders where meetingcode = @meetingcode and holderIdentity in (select IdentityCard from delegates b where b.meetingcode = @meetingcode) )
set @numofholderAuthorised = (select count(*) from holders where (meetingcode = @meetingcode) and (holdercode in (select holdercode from authorizations where meetingcode = @meetingcode)) and (holderIdentity not in (select IdentityCard from delegates b where b.meetingcode = @meetingcode)))
set @sumofholderAndAuthorizatedUser = @numofholderparticipated + @numofholderAuthorised
set @sumofparticipedVoterights = (select sum(delegateright) from authorizations where meetingcode = @meetingcode)

select	@companyname as companyname,
		@meetingname as meetingname,
		@sumofholders as sumofholders,
		@sumofshares as sumofshares,
		@sumofvoterights as sumofvoterights,
		@numofdelegates as numofdelegates,
@numofholderparticipated as numofholderparticipated,
@numofholderAuthorised as numofholderAuthorised,
@sumofholderAndAuthorizatedUser as sumofholderAndAuthorizatedUser,
ISNULL(@sumofparticipedVoterights,0)  as sumofparticipedVoterights
end
 


  
GO
/****** Object:  StoredProcedure [dbo].[prcCursorExample]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[prcCursorExample] AS

SET NOCOUNT ON

DECLARE  @HolderCode  int,
		 @HolderIdentity nvarchar(50),
         @HolderName    nvarchar(255),
         @HoderAddress     nvarchar(255),
		 @Shares	int

-- declare the cursor
DECLARE cur_Holder CURSOR FOR SELECT Hoten,SoCMT,DiaChi,SoQuyen FROM DaiHoiCoDong..Sheet1
OPEN cur_Holder
FETCH cur_Holder INTO @HolderName,@HolderIdentity,@HoderAddress,@Shares
-- start the main processing loop.
WHILE @@Fetch_Status = 0
	BEGIN
		set @HolderCode = (select count(*) from Holders)
		INSERT INTO Holders Values(@HolderCode,'CD2010',@HolderName,@HoderAddress,@HolderIdentity,@Shares,@Shares)
		FETCH cur_Holder INTO @HolderName,@HolderIdentity,@HoderAddress,@Shares
	END

CLOSE cur_Holder

DEALLOCATE cur_Holder

RETURN




GO
/****** Object:  Table [dbo].[Authorizations]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Authorizations](
	[Meetingcode] [varchar](10) NOT NULL,
	[DelegateCode] [int] NOT NULL,
	[Holdercode] [varchar](50) NOT NULL,
	[DelegateRight] [int] NULL,
 CONSTRAINT [PK_Authorizations] PRIMARY KEY CLUSTERED 
(
	[Meetingcode] ASC,
	[DelegateCode] ASC,
	[Holdercode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Authorizations_bk]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Authorizations_bk](
	[Meetingcode] [varchar](10) NOT NULL,
	[DelegateCode] [int] NOT NULL,
	[Holdercode] [varchar](50) NOT NULL,
	[DelegateRight] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidates](
	[Meetingcode] [varchar](50) NOT NULL,
	[Electioncode] [int] NOT NULL,
	[CandidateCode] [int] NOT NULL,
	[CandidateName] [nvarchar](100) NULL,
	[CandidateAddress] [nvarchar](200) NULL,
 CONSTRAINT [PK_Candidates] PRIMARY KEY CLUSTERED 
(
	[Meetingcode] ASC,
	[Electioncode] ASC,
	[CandidateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Delegates]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Delegates](
	[Meetingcode] [varchar](10) NOT NULL,
	[Delegatecode] [int] NOT NULL,
	[Delegatename] [nvarchar](100) NULL,
	[IdentityCard] [varchar](50) NULL,
	[DelegateAddress] [nvarchar](200) NULL,
 CONSTRAINT [PK_Delegates] PRIMARY KEY CLUSTERED 
(
	[Meetingcode] ASC,
	[Delegatecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Delegates_bk]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Delegates_bk](
	[Meetingcode] [varchar](10) NOT NULL,
	[Delegatecode] [int] NOT NULL,
	[Delegatename] [nvarchar](100) NULL,
	[IdentityCard] [varchar](50) NULL,
	[DelegateAddress] [nvarchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Elections]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Elections](
	[Meetingcode] [varchar](50) NOT NULL,
	[Electioncode] [int] NOT NULL,
	[ElectionName] [nvarchar](200) NULL,
	[ElectionDescription] [nvarchar](500) NULL,
	[NumofCandidates] [int] NULL,
 CONSTRAINT [PK_Elections] PRIMARY KEY CLUSTERED 
(
	[Meetingcode] ASC,
	[Electioncode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ElectionVotes]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ElectionVotes](
	[Meetingcode] [varchar](50) NOT NULL,
	[ElectionCode] [int] NOT NULL,
	[CandidateCode] [int] NOT NULL,
	[DelegateCode] [int] NOT NULL,
	[Votes] [int] NULL,
 CONSTRAINT [PK_ElectionVotes] PRIMARY KEY CLUSTERED 
(
	[Meetingcode] ASC,
	[ElectionCode] ASC,
	[CandidateCode] ASC,
	[DelegateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Holders]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Holders](
	[Holdercode] [bigint] NOT NULL,
	[Meetingcode] [varchar](20) NOT NULL,
	[HolderName] [nvarchar](512) NULL,
	[HolderAddress] [nvarchar](max) NULL,
	[HolderIdentity] [varchar](50) NULL,
	[Shares] [bigint] NULL,
	[VoteRights] [bigint] NULL,
	[IdentityDate] [varchar](10) NULL,
	[Phone] [varchar](250) NULL,
	[email] [varchar](250) NULL,
	[nationality] [varchar](250) NULL,
	[DomesticForeign] [nvarchar](50) NULL,
	[HolderType] [nvarchar](50) NULL,
	[NotVSD] [bigint] NULL,
 CONSTRAINT [PK_Holders] PRIMARY KEY CLUSTERED 
(
	[Holdercode] ASC,
	[Meetingcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Holders_Cleaned]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Holders_Cleaned](
	[Holdercode] [bigint] NULL,
	[HolderIdentity] [varchar](50) NULL,
	[HolderName] [nvarchar](512) NULL,
	[NotVSD] [bigint] NULL,
	[Shares] [bigint] NULL,
	[VoteRights] [bigint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoldersImport]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoldersImport](
	[Holdercode] [bigint] NOT NULL,
	[Meetingcode] [varchar](20) NOT NULL,
	[HolderName] [nvarchar](512) NULL,
	[HolderAddress] [nvarchar](max) NULL,
	[HolderIdentity] [varchar](50) NULL,
	[Shares] [bigint] NULL,
	[VoteRights] [bigint] NULL,
	[IdentityDate] [varchar](10) NULL,
	[Phone] [varchar](250) NULL,
	[email] [varchar](250) NULL,
	[nationality] [varchar](250) NULL,
	[DomesticForeign] [nvarchar](50) NULL,
	[HolderType] [nvarchar](50) NULL,
	[NotVSD] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoldersImport_bk]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoldersImport_bk](
	[Holdercode] [bigint] NOT NULL,
	[Meetingcode] [varchar](20) NOT NULL,
	[HolderName] [nvarchar](512) NULL,
	[HolderAddress] [nvarchar](max) NULL,
	[HolderIdentity] [varchar](50) NULL,
	[Shares] [bigint] NULL,
	[VoteRights] [bigint] NULL,
	[IdentityDate] [varchar](10) NULL,
	[Phone] [varchar](250) NULL,
	[email] [varchar](250) NULL,
	[nationality] [varchar](250) NULL,
	[DomesticForeign] [nvarchar](50) NULL,
	[HolderType] [nvarchar](50) NULL,
	[NotVSD] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IllegalElectionVotes]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IllegalElectionVotes](
	[Meetingcode] [varchar](50) NOT NULL,
	[ElectionCode] [int] NOT NULL,
	[DelegateCode] [int] NOT NULL,
 CONSTRAINT [PK_IllegalElectionVotes] PRIMARY KEY CLUSTERED 
(
	[Meetingcode] ASC,
	[ElectionCode] ASC,
	[DelegateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Matters]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Matters](
	[MeetingCode] [varchar](10) NOT NULL,
	[Mattercode] [int] NOT NULL,
	[MatterName] [nvarchar](500) NULL,
	[MatterDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Matters] PRIMARY KEY CLUSTERED 
(
	[MeetingCode] ASC,
	[Mattercode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MatterVotes]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MatterVotes](
	[Meetingcode] [varchar](50) NOT NULL,
	[Mattercode] [int] NOT NULL,
	[DelegateCode] [int] NOT NULL,
	[Agree] [bit] NULL,
	[DisAgree] [bit] NULL,
	[NoIdea] [bit] NULL,
	[Illegal] [bit] NULL,
 CONSTRAINT [PK_MatterVotes] PRIMARY KEY CLUSTERED 
(
	[Meetingcode] ASC,
	[Mattercode] ASC,
	[DelegateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 5/1/2025 6:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Meetings](
	[Meetingcode] [varchar](10) NOT NULL,
	[Meetingname] [nvarchar](200) NULL,
	[CompanyName] [nvarchar](200) NULL,
	[CompanyAddress] [nvarchar](200) NULL,
	[MeetingAddress] [nvarchar](200) NULL,
	[Meetingtime] [smalldatetime] NULL,
	[Period] [nvarchar](250) NULL,
	[MettingType] [nvarchar](150) NULL,
	[YearMeeting] [varchar](4) NULL,
	[StockCode] [varchar](4) NULL,
 CONSTRAINT [PK_Meetings] PRIMARY KEY CLUSTERED 
(
	[Meetingcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Holders] ADD  CONSTRAINT [DF_Holders_Shares]  DEFAULT ((0)) FOR [Shares]
GO
ALTER TABLE [dbo].[Holders] ADD  CONSTRAINT [DF_Holders_VoteRights]  DEFAULT ((0)) FOR [VoteRights]
GO
ALTER TABLE [dbo].[Holders] ADD  CONSTRAINT [DF_Holders_NotVSD]  DEFAULT ((0)) FOR [NotVSD]
GO
ALTER TABLE [dbo].[MatterVotes] ADD  CONSTRAINT [DF_MatterVotes_Iillegal]  DEFAULT ((0)) FOR [Illegal]
GO
USE [master]
GO
